.home-container {
    padding-top: 132px;
    .home-text {
        text-align: center;
        width: 100%;
        margin: 0 auto;
        h1 {
            font-weight: 500;
            font-size: 24px;
            font-family: "Poppins";
            font-style: normal;
            margin: 0;
            letter-spacing: 0.8px;
            padding-bottom: 13px;
        }
        h2 {
            font-weight: 400;
            font-size: 16px;
            font-family: "Poppins";
            font-style: normal;
            margin: 0;
        }
        p {
            width: 281px;
            height: 68px;
            margin: 0 auto;
            font-family: "Poppins";
            font-style: normal;
            font-size: 12px;
        }
    }
}